*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1;
}